@import url(//fonts.googleapis.com/earlyaccess/nats.css);

body {
  margin: 0;
  font-family: 'NATS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/background_pattern.jpg');
  background-repeat: repeat;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

