body {
  margin: 0;
  font-family: 'Niramit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9FBFB;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .header {
  background-color:teal;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
} */


.footer {
  background-color:teal;
  display: flex;
  flex-direction: row;
}